/*<!--user-details.html - блок с информацией про user вверху страницы. Кнопка ниже, на 90% ширины страницы, по центру.-->*/
/*<!--блоки с крt аткой информацией про pos- в ряд по 5 объектов.-->*/


body{
    background: url(https://image.winudf.com/v2/image/bWUud2FsbHBhcGEubmF0dXJlX3NjcmVlbl8xXzE1MzIzNzgxNThfMDE3/screen-1.jpg?fakeurl=1&type=.jpg) no-repeat center/cover;
    height: 900px;
    display: block;
}

.divheder{

    display: block;
    background: rgba(8, 124, 239, 0.2);
    box-shadow: 10px -10px 50px rgba(255, 255, 0, 0.8);
    border: 2px solid #2b2c2f;
    border-radius: 25px;
    margin-left: 806px;
    height: 320px;
    width: 294px;
}
.divMax{
    display: block;
    margin: 25px;
    color: #f8f5f5;
    height: 100px;
}

.btn{
    background: rgba(8, 124, 239, 0.2);
    width: 1600px;
    margin-top: 501px;
    margin-left: 135px;
    color: white;
    box-shadow: 10px -10px 50px rgb(255 255 0 / 80%);
    border-radius: 20px;
}

.btnDiv{
    margin: 5px;
    color: #ffffff;
    display: grid;
    width: 146px;
    justify-items: center;
    background: rgba(8, 124, 239, 0.2);
    border: 2px solid #2b2c2f;
    box-shadow: 10px -10px 50px rgba(255, 255, 0, 0.8);
    border-radius: 10px;

}
.elementA{
    color: white;
}
.divBtnHeder{
    display: flex;
    width: 800px;
    margin-top: -500px;
    flex-wrap: wrap;
    margin-left: 557px;
}
